.post-preview-tags {
  margin: 0 4px;
  height: 24px;
  text-transform: uppercase;
}

.post-tag-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
