@import "~react-md/src/scss/react-md";
$md-primary-color: $md-grey-400;
$md-secondary-color: $md-grey-800;
$md-tertiary-color: $md-grey-300;

.main-container,
.darker-background {
  background-color: $md-tertiary-color;
}

.about-container {
  padding: 16px 8px;
  min-height: calc(100vh - 116px);
}

a:link {
  color: $md-secondary-color;
  text-decoration: none;
}

.md-background--primary {
  background: #222 !important;
  color: #fff;
}

// Nasty green
.md-paper--0 {
  box-shadow: none;
  background: #73ad49;
}

h3,
.md-title {
  letter-spacing: 0px;
}

@media screen and (min-width: 1025px) {
  .md-card-title:last-child {
    padding-bottom: 24px !important;
  }
}

.md-card-title:last-child {
  padding-bottom: 16px !important;
}

@media screen and (min-width: 1025px) {
  .md-tile-addon--icon {
    height: 24px;
  }
}

// @media screen and (min-width: 1025px) {
//   .material-icons.md-icon {
//     font-size: 24px;
//   }
// }

.footer {
  padding: 10px 5px;
}

.post-page-contents .post .post-body > h1 {
  margin-top: 0;
}

.md-card-title:last-child {
  padding-bottom: 16px;
}

@media screen and (min-width: 320px) {
  .md-btn--text {
    height: auto !important;
  }
}
